:root {
  --primary-color: #efc9af;
  --secondary-color: #104c91;
  --teriary-color: #1f8ac0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--teriary-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILITIES START*/
.flex-row {
  display: flex;
}
/* UTILITIES END*/

/* apply styles to <header> */
header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 20px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 18px;
  text-shadow: 0 0 10ox rgba(0, 0, 0, 0.5);
  margin: 10px 10px;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  text-shadow: none;
}
/* HEADER / NAVBAR STYLES END */

/* SECTION TILE STYLES START*/
.section-title {
  font-size: 40px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 80%;
}

.primary-border {
  border-color: var(--teriary-color);
}
/* SECTION TITLE STYLES END */

/* HOME STYLES START*/
.home {
  background: var(--primary-color);
  max-height: 500px;
}

.my-bio {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--tertiary-color);
}

.my-bio-text {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.my-bio-img {
  flex: 1 12%;
  margin-right: 20px;
}

.my-bio-img img {
  max-width: 100%;
}

.my-bio-text {
  flex: 10;
}

.my-bio-text p {
  color: var(--tertiary-color);
  font-size: 18px;
  margin-top: -130px;
}

.my-bio-text h3 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-color);
  margin-top: -250px;
}
/* HOME STYLES END */

/* ABOUT STYLES START */
.skill-img {
  display: flex;
  justify-content: center;
}

.skill-img img {
  max-height: 800px;
  max-width: 800px;
}
/* ABOUT STYLES END */

/* PROJECTS STYLES START */
.project {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-info {
  margin: 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  flex: 1;
}

.project-info img {
  width: 100%;
  max-height: 400px;
}

.project-info img:hover {
  filter: brightness(70%);
}

.project-bio {
  padding: 25px;
  line-height: 1.3;
}

.project-bio h3 {
  font-size: 28px;
}

.project-bio p {
  font-size: 17px;
}

.project-info h3 {
  color: var(--secondary-color);
}

.project-info h3:hover {
  color: var(--teriary-color);
}
/* PROJECTS STYLES START*/

/* CONTACT STYLES START*/
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 220px;
  margin-right: 220px;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info h3 {
  font-size: 32px;
}

.contact-info p {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: var(--secondary-color);
}

.contact-info a:hover {
  color: gray;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background-color: var(--secondary-color);
  color: var(--teriary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
/* CONTACT STYLES END*/

/* FOOTER STYLES START*/
footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h4 {
  background-color: var(--secondary-color);
  color: white;
  font-size: 20px;
  padding: 5px;
}

footer h4:hover {
  background-color: var(--teriary-color);
}
/* FOOTER STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h4,
  footer div {
    text-align: center;
    width: 100%;
  }

  .section-title {
    width: 80%;
  }

  .projects {
    flex: 0 70%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .my-bio-img {
    flex: 2 15%;
  }

  .my-bio-text h3 {
    margin-top: -150px;
  }

  .my-bio-text p {
    font-size: 16px;
    margin-top: -50px;
  }
  .skill-img img {
    max-height: 500px;
    max-width: 500px;
  }
  .project-bio h3 {
    font-size: 20px;
  }

  .project-bio p {
    font-size: 14px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }

  .projects {
    flex: 0 100%;
  }
  .contact-info {
    text-align: center;
  }
}
